.notes-list-wrap {
    block-size: 50dvh;
    overflow-y: hidden;
    padding: 10px;
}

.notes-list {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    gap: 5px;
    overflow-y: auto;
}