#root {
  inline-size: 100%;
  block-size: 100dvh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: Sansation, sans-serif;
}

.section {
  inline-size: clamp(300px, 235.40px + 17.23vw, 500px);
  border-radius: 5px;
  background-color: var(--bg-color);
}

.header {
  text-align: center;
  color: var(--main-text-color);
  text-shadow: 3px 3px #000;
}

.button {
  color: var(--main-text-color);
  background-color: var(--button-bg-color);
  border-radius: 5px;
  transition: box-shadow 0.3s, translate 0.3s;
}

.button:hover {
  translate: 0px -3px;
  box-shadow: 3px 3px 0px #000;
}

.text-input {
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
}

.text-input:focus {
  outline: none;
}

.text-input:hover, .text-input:focus-visible {
  outline: 1px solid #000;
  box-shadow: 3px 3px 0px #000;
}