@import url(./variables.css);
@import url(./fonts/fonts.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
li,
form,
textarea,
body,
p,
input {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

button,
textarea,
input {
  font-family: inherit;
  border: none;
}